:root {
  --bg-color: #2c22af;
  --text-color: #fff;
  --defaultFont: arial;
  --text-axis: 600;
  --text-color: #e34f15;
}
/* @import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;600&display=swap"); */
@font-face {
  font-family: "Rokkitt";
  src: url("./fonts/Rokkitt-VariableFont_wght.woff2")
      format("woff2 supports variations"),
    url("./fonts/Rokkitt-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 70% 150%;
}
@font-face {
  font-family: "NotoMalayalam";
  src: url("./fonts/NotoSansMalayalam.woff2")
      format("woff2 supports variations"),
    url("./fonts/NotoSansMalayalam.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
@font-face {
  font-family: "NotoBengali";
  src: url("./fonts/NotoSerifBengali-VariableFont_wdth,wght.woff2")
      format("woff2"),
    url("./fonts/NotoSerifBengali-VariableFont_wdth,wght.woff2")
      format("woff2-variations");
  font-weight: 125 950;
  font-display: swap;
  font-stretch: 25% 151%;
}
/* https://s3.ap-south-1.amazonaws.com/static.asianetnews.com/v1/fonts/NotoSerifBengali-VariableFont_wdth%2Cwght.woff2 */
@font-face {
  font-family: "WorkSans";
  src: url("./fonts/WorkSans.woff2") format("woff2"),
    url("./fonts/WorkSan.woff2") format("woff2-variations");
  font-weight: 125 950;
  font-display: swap;
  font-stretch: 25% 151%;
}
.body p {
  font-size: 18px
}
.body p:nth-child(1) {
    font-size: 30px;
    font-family: "WorkSans";
    font-variation-settings: "wght" var(--text-axis);
    line-height: 50px;
  }
.body p:nth-child(2) {
    font-size: 30px;
    font-family: "Rokkitt";
    font-variation-settings: "wght" var(--text-axis);
    line-height: 50px;
  }
.body p:nth-child(3) {
    font-family: "NotoMalayalam";
    font-size: 40px;
    font-variation-settings: "wght" var(--text-axis);
    font-stretch: 80%;
  }
.body p:nth-child(4) {
    font-size: 30px;
    line-height: 50px;
    font-family: "NotoBengali";
    font-variation-settings: "wght" var(--text-axis);
    font-stretch: 50%;
  }
/* html {
  font-family: Rokkitt;
  font-variation-settings: "wght" 600;
} */
body{
    background:#f9f9f9;
}
header {
  background: var(--bg-color);
  height: 100px;
  width: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center
}
header ul {
    display: flex
  }
header ul li {
      flex: 1;
      background: white;
      margin-right: 10px;
      list-style: none;
      text-align: center;
      padding: 6px;
      white-space: nowrap;
      border-radius: 5px
    }
header ul li a {
        color: #686161;

        text-decoration: none;
        font: bold 12px/16px var(--defaultFont);
      }
.heading {
  font-family: "Rokkitt";
  text-align: center;
  font-size: 28px;
  padding: 10px 0 0 0;
  font-variation-settings: "wght" 700;
  color: var(--text-color);
  text-transform: uppercase;
}
::-moz-placeholder {
  display: flex;
}
:-ms-input-placeholder {
  display: flex;
}
::placeholder {
  display: flex;
}
