header {
  background: var(--bg-color);
  height: 100px;
  width: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;

  & ul {
    display: flex;

    & li {
      flex: 1;
      background: white;
      margin-right: 10px;
      list-style: none;
      text-align: center;
      padding: 6px;
      white-space: nowrap;
      border-radius: 5px;
      & a {
        color: #686161;

        text-decoration: none;
        font: bold 12px/16px var(--defaultFont);
      }
    }
  }
}
.heading {
  font-family: "Rokkitt";
  text-align: center;
  font-size: 28px;
  padding: 10px 0 0 0;
  font-variation-settings: "wght" 700;
  color: var(--text-color);
  text-transform: uppercase;
}
::placeholder {
  display: flex;
}
